# -----------------------------------------------------------
# General

distros/*
MPS/*

.DS_Store
.metadata
.svn

junitvmwatcher*.properties
build.properties
TEST-*.xml
junit*.properties

#Kate editor temps
*.*~
.*~




# -----------------------------------------------------------
# * build
build/*/build


# -----------------------------------------------------------
# * languages
*/languages/*/languages/*/classes_gen
*/languages/*/languages/*/source_gen
*/languages/*/languages/*/source_gen.caches

*/languages/*/languages/*/solutions/*/classes_gen/
*/languages/*/languages/*/solutions/*/source_gen.caches/
*/languages/*/languages/*/solutions/*/source_gen/

# -----------------------------------------------------------
# * lib - here we seem to need the generated sources.
*/languages/*/lib/*/classes_gen
*/languages/*/lib/*/source_gen.caches



# -----------------------------------------------------------
# * tests
*/languages/*/tests/*/classes_gen
*/languages/*/tests/*/test_gen
*/languages/*/tests/*/test_gen.caches
*/languages/*/tests/*/source_gen
*/languages/*/tests/*/source_gen.caches

# -----------------------------------------------------------
# * libs
*/languages/*/lib/*/classes_gen
*/languages/*/lib/*/source_gen
*/languages/*/lib/*/source_gen.caches


# -----------------------------------------------------------
# * solutions
*/languages/*/solutions/*/classes_gen
*/languages/*/solutions/*/source_gen
*/languages/*/solutions/*/source_gen.caches

# -----------------------------------------------------------
# * project settings
*/languages/*/*.dev.iws
*/languages/*/*.iws
*/languages/*/build.properties
*/languages/*/TEST*.xml

# -----------------------------------------------------------
# applications
*/applications/*/*.iws
*/applications/*/solutions/*/source_gen
*/applications/*/solutions/*/source_gen.caches
*/applications/*/solutions/*/classes_gen
*/applications/*/tests/*/source_gen
*/applications/*/tests/*/source_gen.caches
*/applications/*/tests/*/classes_gen
*/applications/*/languages/*/source_gen
*/applications/*/languages/*/source_gen.caches
*/applications/*/languages/*/classes_gen
*/applications/*/source_gen
*/applications/*/source_gen.caches
*/applications/*/classes_gen
*/applications/*/classes_gen.caches
*/applications/*/build.properties

#-----------------------------------------------------------
# tests
*/languages/*/solutions/*/test_gen.caches/
*/languages/*/solutions/*/test_gen/




# -----------------------------------------------------------
# documents
deliverables/*/*.aux
deliverables/*/*.bbl
deliverables/*/*.blg
deliverables/*/*.dvi
deliverables/*/*.log
deliverables/*/*.out
deliverables/*/*.toc

papers/*/*.aux
papers/*/*.bbl
papers/*/*.blg
papers/*/*.dvi
papers/*/*.log
papers/*/*.out
papers/*/*.toc
papers/*/*.synctex.gz

*/languages/com.mbeddr.cpp/tests/source_gen
*/languages/com.mbeddr.cpp/tests/classes_gen
